USE [master]
GO
/****** Object:  Database [marathon_contacts]    Script Date: 16.05.2021 11:04:37 ******/
CREATE DATABASE [marathon_contacts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'marathon_contacts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\marathon_contacts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'marathon_contacts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\marathon_contacts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [marathon_contacts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [marathon_contacts]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 16.05.2021 11:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[First_name] [nvarchar](50) NULL,
	[Last_name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 16.05.2021 11:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Phone] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
